
<h2 class="container">SpaceX Launch Program</h2>
<div class="container">
  <div class="card left-container">
    <h4 class="filter-text">Filters</h4>
    <p style="text-align: center; margin: 0"><b>Launch Year</b></p>
    <hr class="horizontal-line" />
    <div class="left-flex-container">
        <div  class="launch-year" *ngFor="let yearsList of years">
            <div class="year-btn">
                <button (click)="filterYear(yearsList)" class="background-green">{{yearsList}}</button>
            </div>
            
        </div>
    </div>


    <p style="text-align: center; margin: 0; margin-top: 35px">
      <b>Successful Launch</b>
    </p>
    <hr class="horizontal-line" />
    <br />
    <div class="launch-land-button">
        <button (click)="launchFilter($event)" class="background-green">True</button>
        <button (click)="launchFilter($event)" class="background-green">False</button>
    </div>
    <p style="text-align: center; margin: 0; margin-top: 35px">
      <b>Successful Landing</b>
    </p>
    <hr class="horizontal-line" />
    <br />
    <div class="launch-land-button">
        <button (click)="landFilter($event)" class="background-green">True</button>
        <button (click)="landFilter($event)" class="background-green">False</button>
    </div>
  </div>

  <div class="right-container">
    <div *ngFor="let list of programs" class="launch-card">
      <div class="launch-card-padding">
        <div class="img-container">
            <img class="image" src="{{list.links.mission_patch_small}}" alt="Space Logo">
        </div>

        <div class="card-body">
            <h5 class="card-title">{{list.mission_name}} # {{ list.flight_number }}</h5>
            <p class="card-text">
                <span class="spacelabels">Mission Ids: </span> 
                <br>
                <span class="text-primary">{{list.mission_id}}</span>
              </p>
              <p>
                  <span class="spacelabels"> Launch Year: </span> <span class="text-primary">{{list.launch_year}}</span>
              </p>
              <p>
                  <span class="spacelabels">Successful Launch: </span> <span class="text-primary">{{list.launch_success}}</span>
              </p>
              <p>
                  <span class="spacelabels">Successful Landing: </span> <span class="text-primary">{{list.rocket.first_stage.cores[0].land_success}}</span>
              </p>
            
          </div>
      </div>
    </div>
  </div>
</div>
<div class="footer"><b>Developed by: </b>{{developerName}}</div>
